@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Slab:wght@600&family=Roboto:wght@300;400;500&display=swap');

body{
    background-color: rgb(245, 239, 239);
    font-family: 'Roboto' !important;
}



/* Top*/
.myTitle{
    font-family: 'Roboto Slab';
    font-size: 4rem;
    margin-top: 1rem;
    color: black;
   
}

/* nav */
.nav-link{
    color: black;
}
.nav{
    color: black !important;

}

.line{
    
    border-bottom: 1px solid rgb(0, 0, 0);
    opacity: 25%;
}
.line2{
    
    border-bottom: 3px solid black;
    border-radius: 10px;
    opacity: 100%;
}

/* Footer */

.myFooter{
    margin-top: 200px;
    margin-bottom: 20px;
}

h5{
    font-family: "Roboto Slab";
    font-size: 1.5rem;
}

h7{
    font-size: .85rem;
}

.myCopy{
    font-size: .75rem;
}



/* Carousel */
h3{
    font-family: 'Roboto Slab' ;
    font-size: 2.5rem;
}

.carousel-img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.carousel-block{
    background-color: rgb(245, 239, 239);
    color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.carousel-caption{
    bottom: 0;
    top: 55%;
}

.carousel-indicators [data-bs-target]{
    
    width: 10px;
    height: 10px;
    border-radius: 100%;
    
}

.carousel-indicators{
    justify-content: start;
    align-items: center;
    margin-bottom: 0;

   
}

.carousel-item{
    height: 650px;
}

.carousel-control-next, .carousel-control-prev{
   
    display: contents;
   
    
}

/* Cards */
.card   {
    border: none;
    background-color: rgb(245, 239, 239);
}

.card-img-top{
    border-radius: 12px;
}